
.container {
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    width: 1020px;
    height: 120px;
}


.control button {
    border-radius: 50%;
}

.progress {

}

.volume {

}