.header {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.25);
  background: rgba(155, 153, 153, 0.46);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  height: 10vh;
  align-items: center;
}



@media screen and (min-width: 414px) {


  
}