
/* From Uiverse.io by LightAndy1 */ 
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
  }
  
  .input {
    font-family: "Montserrat", sans-serif;
    width: 300px;
    height: 45px;
    padding-left: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px);
    background: linear-gradient(133.50deg, rgba(255, 255, 255, 0.4) 1.095%,rgba(255, 255, 255, 0.2) 99.203%);
    border: 0;
    border-radius: 12px;
    outline: none;
    color: #ffffff;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
  }
  
  .input::placeholder {
    color: #ffffff;
  }
  
  .input:hover {
    box-shadow: 0 0 0 1px #ffffff80, 0px 0px 25px -15px #ececec ;
    transition-duration: .3s;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    box-shadow: 0 0 0 2.5px #ececec;
  }
  
  .search_icon {
    position: absolute;
    left: 1rem;
    fill: #dfdfdf;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
  }
  
  .button {
    color: white;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px);
    background: linear-gradient(133.50deg, rgba(255, 255, 255, 0.4) 1.095%,rgba(255, 255, 255, 0.2) 99.203%);
    border-radius: 15px;
    font-size: 1rem;
    line-height: 24px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    cursor: pointer;
    text-align: center;
    margin-left: 0.5rem;
    display: inline-flex;
    align-items: center;
  }
  
  .button:hover {
    box-shadow: 0 0 0 1px #ffffff80, 0px 0px 25px -15px #ececec;
    transition-duration: .3s;
  }
  
  .button svg {
    display: inline;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.75rem;
    color: rgb(255, 255, 255);
  }
  
  .button:focus svg {
    animation: spin_357 0.5s linear;
  }
  
  @keyframes spin_357 {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
