* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.panel {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 10%;
  top: 89%;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(20px);
  background: linear-gradient(133.50deg, rgba(255, 255, 255, 0.4) 1.095%,rgba(255, 255, 255, 0.2) 99.203%);
}

.item__container {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}

.picture {
    border-radius: 10px;
    width: 70px;
    height: 70px;
}

.item {
    display: flex;
    text-decoration: none;
    border: #fff;
    border-radius: 5px;
    color: var(--text-color);
    align-items: center;
}

.item2 {
    color: rgb(136, 136, 136)
}

.button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    margin : 10px;
    background: none;
}

.time_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volume_control {
    margin: 10px;
    width: 200px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
  }
  
  .volume_control input[type="range"] {
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 10px;
    background-color: #ccc;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .volume_control input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
    appearance: none;
  }
  
  .volume_control input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .controls{
    display: flex;
    align-items: center;
  }

  .seekbar {
    width: 130%;
  }