*{ 
    text-decoration: none;
}
.track {
    display: flex;
    margin: 3px;
    transition-duration: .3s;
    justify-content: space-between;
    align-items: center;
    border:none;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
    transition-duration: 0.5s;
}

.track:hover {
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1) 100%);
}

.items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item {
    color: var(--text-color);
}

.item2 {
   color: #BBBBBB;
}

.picture{
    border: none;
    border-radius: 15px;
    width: 70px;
    height: 70px;
}
