*{ 
    text-decoration: none;
}

@media screen and (min-width: 360px) {
.track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2%;
    width: 95%;
}

.track:hover {
    backdrop-filter: blur(20px);
    background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1) 100%);
}

.items {
    
}

.item {
   font-size: 115%;
}

.item2 {
    font-size: 85%;
}

.picture{
   width: 15%;
   border-radius: 20%;
}
}