* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.panel {
  display: flex; 
  align-items: center;
  justify-content: space-around;
  margin:2%;
}

.item__container {
  width: 14%;
   margin-left: 1%;
}

.picture {
    width: 13%;
    border-radius: 20%;
}

.item {
 font-size: 8px;
}

.item2 {
 font-size: 7px;
}

.button {
  display: flex;
  justify-content: space-between;
  background: none;
  border: none;
}

.time_container {
   
} 

.volume_control {
  width: 20%;
}

.volume_icon {
   
}
  
.volume_control input[type="range"] {
  width: 100%;
}
  
.volume_control input[type="range"]::-moz-range-thumb {
   
}

.control_container {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 40%;
}

.controls{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  
}

.seekbar {
  width: 80%;
}